@import 'bootstrap';
@import 'font-awesome';
@import 'datepicker';

.vertical-center {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

body {
    padding-bottom: 2em;
}

.mce-edit-area {
    padding: 10px;
}
